@font-face {
    font-family: 'pokemon-hollow';
    src: url('../../assets/fonts/Pokemon\ Hollow.ttf');
}

.images-container {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}

.images-container img {
    cursor: pointer;
    transition: 0.4s;
}

.images-container-not-selected {
    filter: grayscale(100%);
}

.images-container img:hover {
    opacity: 0.8;
    transition: 0.4s;
    filter: none;
}

.fight-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fight-button-disabled button {
    background-color: #e5e5e5;
    color: #7a7a7a;
    cursor: default;
}

.fight-button-disabled button:hover {
    cursor: default;
    background-color: #e5e5e5;
}

.type-fight-text {
    font-family: pokemon-hollow !important;
    margin-bottom: 0;
    font-weight: bold;
    position: absolute;
    top: 8px;
    font-size: 35px;
    pointer-events: none;
}

.type-fight-text-left {
    left: 16px;
}

.type-fight-text-right {
    right: 16px;
}

.fighter-container {
    background-image: linear-gradient(to right, rgba(255,255,255,0.1), rgba(255,255,255,0.4)), url('../../assets/img/battlefield.jpg');
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
    padding: 4%;
}