@font-face {
    font-family: 'pokemon-hollow';
    src: url('../../assets/fonts/Pokemon-Hollow.ttf');
}

.images-container {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}

.images-container img {
    cursor: pointer;
    transition: 0.4s;
}

.images-container-not-selected {
    filter: grayscale(100%);
}

.images-container img:hover {
    opacity: 0.8;
    transition: 0.4s;
    filter: none;
}

.fight-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fight-button-disabled button {
    background-color: #e5e5e5;
    color: #7a7a7a;
    cursor: default;
}

.fight-button-disabled button:hover {
    cursor: default;
    background-color: #e5e5e5;
}

.type-fight-text {
    font-family: pokemon-hollow !important;
    margin-bottom: 0;
    font-weight: bold;
    position: absolute;
    top: 8px;
    font-size: 35px;
    pointer-events: none;
}

.type-fight-text-left {
    left: 16px;
}

.type-fight-text-right {
    right: 16px;
}

.fighter-container {
  background-image: linear-gradient(
    0deg,
    hsl(181, 59%, 42%)  0%,
    hsl(138, 89%, 18%)  6%,
    hsl(152, 69%, 39%) 13%,
    hsl(182, 77%, 38%) 19%,
    hsl(197, 81%, 34%) 26%,
    hsl(193, 62%, 36%) 32%,
    hsl(188, 55%, 38%) 38%,
    hsl(184, 49%, 74%) 45%,
    hsl(180, 17%, 87%) 51%,
    hsl(171, 27%, 67%) 57%,
    hsl(160, 31%, 54%) 64%,
    hsl(151, 45%, 44%) 70%,
    hsl(141, 65%, 40%) 76%,
    hsl(151, 66%, 40%) 82%,
    hsl(161, 64%, 39%) 88%,
    hsl(171, 61%, 37%) 94%,
    hsl(181, 59%, 42%) 100%
  );
    background-position: center;
    margin-left: 10%;
    margin-right: 10%;
    height: 75vh;
    border: solid 12px #88b9eb;
}

.container-fighter-frame {
    position: relative;
}

.frame-container span:nth-of-type(1) {
    margin-left: 10%;
}

.frame-container span:nth-of-type(2) {
    margin-left: 10%;
}

.frame-container span:nth-of-type(3) {
    margin-right: 10%;
}

.frame-container span:nth-of-type(4) {
    margin-right: 10%;
}

.container-type-room {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.container-media {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-video {
    height: 360px;
    width: 475px;
    object-fit: none;
    box-sizing: content-box;
    border: solid 12px #88b9eb;
}