.pokemonFile {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pokemonFile__info {
    text-align: center;
    padding: 10px;
    font-family: pokemon;
}

.review-container {
    border: 1px solid #00000020;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
}

.pokemonFile__title {
    display: flex;
    justify-content: center;
    font-family: pokemon;
}

.pokemon-file-description {
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
}

.searchPokemon__card {
    width: 18rem;
}

@media (max-width: 415px) {
    .searchPokemon__card {
        width: 18rem;
        height: 23.5rem;
    }

    .searchPokemon__img {
        width: 10rem;
        height: 10rem;
        margin-left: 63px;
        margin-top: 10px;
    }

    .pokemonFile__title {
        font-size: medium;
    }

    .searchPokemon__pokemon {
        margin: auto;
    }
}