.sideDropdown {
    display: flex;
    justify-content: flex-end;
}

.sideDropdown__userName {
    background-color: #22577a;
    color: white;
    padding: 6px;
    border-radius: 5px;
    margin-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
}

.sideDropdown__userName > img {
    margin: 2px;
}

@media (max-width: 374px) {
    .sideDropdown__userName {
        padding: 2.5px;
        margin-right: 2px;
        margin-top: 5px;
    }

    .sideDropdown {
        height: 30px;
        align-items: center;
        margin: auto;
    }

    .sideDropdown > :last-child {
        margin-top: 5px;
    }
}

@media (max-width: 700px) {
    .sideDropdown__userName {
        display: none;
    }
}