.search-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    display: flex;
    width: 330px;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.no-match {
    display: flex;
    justify-content: center;
    background-color: rgb(235, 45, 12, 0.8);
    color: white;
    padding: 0.4%;
    border-radius: 6px;
    text-align: center;
}

.top-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 0.5%;
}

@media (max-width: 415px) {
    .search-pokemon {
        margin-top: 3px;
    }

    .no-match {
        width: 90%;
    }
}