@font-face {
    font-family: 'pokemon';
    src: url('../../assets/fonts/Pokemon\ Solid.ttf'),
        url('../../assets/fonts/Pokemon\ Hollow.ttf');
}

.container {
    background-color: rgba(234, 237, 237, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: auto;
    border-radius: 7px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.container footer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.sign-in-text {
    font-family: pokemon !important;
    margin-bottom: 15px;
}

.login__title {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.login__title > h3 {
    font-style: italic;
}

.image {
    width: 70px;
    height: 65px;
}

.copyClipboard {
    margin-top: 10px;
}
