.home {
  margin: auto;
  margin-top: 5%;
  width: 50rem;
}

.home-container {
  background-color: #EB2D0C;
  border-radius: 15px;
  opacity: 0.9;
  text-align: center;
}

.carousel-image {
  width: 250px;
  height: 250px;
  margin: 25px;
  margin-top: 1%;
}

.home-text {
  margin-bottom: 5%;
  text-align: center;
  color: white;
}

.not-found-text {
  padding-top: 1%;
  color: white
}

@media (max-width: 770px) {
  .home {
    width: 45rem;
  }

  .home-text {
    height: 120px;
  }
}

@media (max-width: 417px) {

  .home {
    width: 20rem;
  }

  .home-text {
    padding: 6px;
    margin-bottom: 15%;
    height: 180px;
  }
}