.container-pokemons {
    text-align: center;
    margin: auto 5px ;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    height: 80vh;
    overflow-y: scroll;
}

.container-pokemons::-webkit-scrollbar {
    scrollbar-width: thin;
    color: transparent;
    width: 7px;
    background: transparent;
    height: 7px;
}

.container-pokemons::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.nav-pokemons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: fixed;
    width: 99%;
    background: linear-gradient(to right, rgba(234, 237, 237, 0), rgba(234, 237, 237, 1), rgba(234, 237, 237, 0));
}

.nav-pokemons > button {
    margin: 5px;
    height: fit-content;
}

.go-home-button {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.container-poke-cards {
    margin-top: 50px !important;
}

.container-poke-cards-loading {
    opacity: 0.7;
}

.container-spinner {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35%;
    z-index: 2;
    right: 50%;
    transform: translateX(50%);
}

@media (min-width: 1200px) {
    .container-poke-cards {
        margin: auto 7rem;
    }
}

@media (max-width: 1281px) {
    .container-pokemons {
        height: 78vh;
    }
}

@media (max-width: 1171px) {
    .container-pokemons {
        height: 72vh;
    }
}